body{
    font-family: 'cairo',sans-serif;
}
img.imagem-larga{
    width: 100%;
}
nav{
    position: absolute;
    top: 25px;
    right: 0;
}

nav ul li{
    display: inline;
    margin-left: 15px ;

}
nav a{
    /* converter para letras maisculas */
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    color: #f00;
}

header,article{
    position: relative;
    width: 88%;
    margin: auto;
}

h1,h2{
    margin: 0;
}
p, li, a{
    /*em proporcional ao tamanho padrao da fonte */
    font-size: 1.1em;
}
article h2{
    text-align: center;
    color: red;
}

#diferenciais{
    width: 80%;
    margin: auto;
}

#diferenciais h2{
    color: green;
}

#diferenciais img{
    width: 50%;
}

#diferenciais ul{
    display: inline-block;
    vertical-align: top;
    width: 35%;
}
#diferenciais ul li{
    line-height: 1.8;

}